html{
  height: 100%;
}
html, body {
  position: relative;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body#index{
  height: 100%;
}

p {
  line-height: 1.75;
}

a {
  color: #40a4e7;
}

a:hover {
  color: #4eacf9;
  text-decoration: none;
}

.text-primary {
  color: #1438c4 !important;
}
.text-secondary {
  color: #40a4e7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
h2{
  font-size: 1rem;
}
h5{
  font-size: 1rem;
}

::-moz-selection {
  background: transparent;
  text-shadow: none;
}

::selection {
  background: transparent;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#loader{
  background-color: #1438c4;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
}

.bg-primary{
  background-color: #1438c4 !important;
}
.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
}
.btn-primary {
  background-color: #1438c4;
  border-color: #1438c4;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #0066cc !important;
  border-color: #0066cc !important;
  color: white;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: none;
}
.btn-secondary {
  background-color: #40a4e7;
  border-color: #40a4e7;
}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #4eacf9 !important;
  border-color: #4eacf9 !important;
  color: white;
}
.btn-secondary:active, .btn-secondary:focus {
  box-shadow: none;
}
.bg-gradient{
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.circle{
  border: 2px solid rgba(255,255,255,1);
  position: absolute;
  width: 280px;
  height: 280px;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
}
.circle:nth-child(2){
  border: 2px solid rgba(255,255,255,0.75);
  width: 280px;
  height: 280px;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
  animation: expand-3 5s infinite;
}
.circle:nth-child(3){
  animation: expand-2 5s infinite;
  animation-delay: 0.5s;
}
.circle:nth-child(4){
  animation: expand-1 5s infinite;
  animation-delay: 1.25s;
}
.btn-call{
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../img/header-team.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0.5rem;
  width: 270px;
  height: 270px;
  top: calc(50% - 135px);
  left: calc(50% - 135px);
  z-index: 1;
}
.btn-call:focus{
  outline: none;
}
.btn-call:hover{
  transform: rotate(120deg);
}
@media (min-width: 992px) {
  .circle{
    width: 300px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
  }
  .circle:nth-child(2){
    width: 300px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
  }
  .btn-call{
    width: 290px;
    height: 290px;
    top: calc(50% - 145px);
    left: calc(50% - 145px);
  }
}
@media (min-width: 1440px) {
  .circle{
    width: 360px;
    height: 360px;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  .circle:nth-child(2){
    width: 360px;
    height: 360px;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  .btn-call{
    width: 350px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
  }
}
@keyframes expand-1 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100%{
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes expand-2 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes expand-3 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100%{
    transform: scale(2.5);
    opacity: 0;
  }
}

#navbar{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1030;
  transition: all 300 ease;
}
#navbar.inverted, #navbar.open {
  filter: contrast(0.25);
}
.navbar-logo img{
  max-width: 180px;
  height: auto;
}
#navbar-toggler {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#navbar-toggler span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
#navbar-toggler span:nth-child(1) {
  top: 0px;
}

#navbar-toggler span:nth-child(2),#navbar-toggler span:nth-child(3) {
  top: 9px;
}

#navbar-toggler span:nth-child(4) {
  top: 18px;
}

#navbar.open #navbar-toggler span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#navbar.open #navbar-toggler span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navbar.open #navbar-toggler span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navbar.open #navbar-toggler span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#navbar.open #navbar-toggler span {
  background: #999;
}

/* MOBILE NAV */

.mobile-navbar {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  background-color: #f4f4f6;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease 0.15s;
}
.mobile-navbar.show{
  opacity: 1;
  pointer-events: auto;
}
.mobile-navbar a{
  font-size: 2rem;
}
/* .mobile-navbar a:hover, .mobile-navbar a.active{
} */

.mobile-navbar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-button-next, .swiper-button-prev{
  color: rgba(0,0,0,0.25) !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: 30px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: 30px;
}

#content{
  width: 100%;
  height: 100%;
}

#home {
  text-align: center;
  color: white;
}
#home.inner{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#home h1{
  width: 100%;
  font-size: 1.5rem;
  height: 1.5rem;
  top: calc(50% - 1.5rem);
  left: 0;
  z-index: 2;
}
#home .intro-text{
  top: 17%;
}
#home .actions{
  bottom: 15%;
}

@media (min-width: 992px) {
  .mobile-navbar a{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  #home h1{
    font-size: 2.5rem;
    height: 2.5rem;
    top: calc(50% - 2.5rem);
  }
}
@media (min-width: 768px) {
  #home{
    margin-top: 0;
    text-align: left;
    height: 100%;
  }
  #home .intro-text {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.profile{
  padding-top: 120px;
  text-align: center;
}
.team-member {
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.team-member:hover img{
  padding: 7px;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}
@media (min-width: 992px) {
  .profile .team-member {
    text-align: left !important;
  }
  .profile .team-member img{
    width: 100%;
    height: auto;
  }
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
}

#video{
  width: 100%;
  height: 100%;
}

#download .badges .badge-link {
  display: inline;
}

#download .badges .badge-link:last-child {
  margin-bottom: 0;
}

#download .badges .badge-link img {
  height: 60px;
}